@page "/dndbooks"
@using System.Net.Http.Json
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IJSRuntime js
@inject HttpClient client
<h3>D&amp;D Books</h3>
<small>Add as many D&amp;D Books as you wish.</small>
<div class="form-group">
    <a class="btn btn-success" href="dndbooks/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>
@if (dndbooks == null)
{
    <text>Loading...</text>
}
else if (dndbooks.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Publisher</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dndbook book in dndbooks)
            {
                <tr>
                    <td>@book.DndbookId</td>
                    <td>@book.Name</td>
                    <td>@book.Description</td>
                    <td>@book.PublisherId</td>
                    <td>
                        <a class="btn btn-success" href="dndbooks/edit/@book.DndbookId">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(book.DndbookId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    Dndbook[] dndbooks { get; set; }
    protected override async Task OnInitializedAsync()
    {
        dndbooks = await client.GetFromJsonAsync<Dndbook[]>("https://localhost:44331/api/dndbooks");
    }
    async Task Delete(int id)
    {
        var book = dndbooks.First(x => x.DndbookId == id);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {book.Name}'s ({book.DndbookId}) Record?"))
        {
            await client.DeleteAsync($"https://localhost:44331/api/dndbooks/{id}");
            await OnInitializedAsync();
        }
    }
}